body {
  font-size: 16px;
  min-width: 275px;
  position: relative;
  line-height: 1.6;
  font-family: "RobotoRegular", sans-serif;
  overflow-x: hidden;
  background-color: #fff; }

body a {
  text-decoration: none;
  -webkit-transition: color 0.4s ease, background-color 0.4s ease, border-color 0.4s ease;
  transition: color 0.4s ease, background-color 0.4s ease, border-color 0.4s ease; }

.hidden {
  display: none; }

.wrapper {
  width: 960px;
  margin: 0 auto;
  overflow: hidden; }
